
.addmember-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.addmember {
    background: #aaa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
}

.addmember div {
    margin-bottom: 15px;
}


.addmember input[type="text"],
.addmember textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.addmember input:focus,
.addmember textarea:focus{
    outline: none;
}

.addmember button {
    background: #2b2b5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.addmember button:hover {
    background: #34346e;
}

.deletemember {
    display: flex;
    align-items: center;
}

.deletemember input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 5px;
}
.deletemember input:focus{
    outline: none;
}

.deletemember button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deletemember button:hover {
    background-color: #c82333;
}

/* Responsive styles */
@media (max-width: 768px) {
    .addmember input[type="text"] {
        margin-bottom: 10px;
    }
}

.manage-clubs{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    margin-top: 2em;
}
.manage-clubs .addmember{
    background: #aaa;
    color: #2b2b5f;
}
.addmember label{
    font-weight: bold;
}
.file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.clear-file-input {
    cursor: pointer;
    margin-left: 10px; /* Adjust this value as needed */
}
