.event-details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.event-details {
  background: #aaa;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.event-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.event-info {
  margin-bottom: 20px;
}

.info-item {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
}

.register-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-btn:hover {
  background-color: #0056b3;
}

.registered-members {
  background: #aaa;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-email {
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  .event-details-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .event-details {
    width: 48%;
  }

  .registered-members {
    width: 48%;
  }
}
