

.event-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .event-details {
    width: 65%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .event-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .event-details ul li {
    margin-bottom: 10px;
  }
  
  .event-details input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .event-details button {
    padding: 10px 20px;
    background-color: #676b70;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registered-members {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registered-members h1 {
    margin-top: 0;
  }
  