body{
  background: #e0d8d8;
  color: #2b2b5f;

}
button{
  color: white;
  background: none;
  padding: 0.4em 1em;
  margin: 0.2em;
  border-radius: 0.4em;
  outline: none;
  border: none;
  transition: 0.5s;
}  
button:hover{
  background: #2b2b5f;
}

.home-header {
    background: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px -6px 10px 8px rgba(0,0,0,0.5);
    height: 4.5em;
  }

 
  .home-header > div:first-child {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 70px; 
    height: auto;
    border-radius: 50%;
  }
 
  
  .search-events-container{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(192, 180, 180);
    height: 35px;
    padding:5px 8px;
    border-radius: 0.5em;
    color: white;
}

  .search-bar {
    padding: 8px;
    margin-left: 5px;
    background: transparent; 
    color: white;
    border: 0;
  }

  .search-bar::placeholder{
    color: white;
  }

  .search-bar:focus {
    border: none;
    outline:none;
  }
  
  .search-btn {
    margin-left: 10px; 
    padding: 6px 15px;
  }
  
  .linkcss {
    text-decoration: none;
  }
  

.home-body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.eventos{
    width: 50%;
    height: 80vh;
    margin: 1em;
}

.eventos img{
    text-align: center;
    border-radius: 50%;
    padding: 1em;
    
}

.carousal{
    width: 50%;
}
.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-us div {
    margin: 5px; 
}

.contact-us button {
    color: white;
    border-radius: 0.5em;
    padding: 5px 55px;
    font-weight: bold;
}

.contact-us label {
    color: #404249;
}

.footer-section{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: #8b8bad;
    color: #fff;
}
.footer-section ul{
    list-style-type: none;
    margin: 30px;
}
.followus {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

.upcoming-events-posters, .online-events-posters{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}


.upcomingevents,.online-events{
    border-radius: 1em;
}

.upcomingevents h1,.online-events h1{
    color: #2b2b5f;
    padding-bottom: 0.5em;
    text-align: center;
}

.poster-card{
    width: 220px;
    height: 300px;
    border-radius: 1em;
    transition: 0.8s;
    margin: 1em;
    cursor: pointer;
    transition: transform 0.7s;
}
.poster-card img{
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}
.poster-card:hover{
    transform: scale(1.2);
    box-shadow: 3px -2px 5px 2px rgba(207, 193, 193, 0.5);

}

.next img{  
    width: 50%;
}

.clubs{
    margin: 1.5em;
}
.clubs-header{
    text-align: center;
    color: #2b2b5f;
}
.club-items{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.club{
    margin: 1em;
    width: 10em;
    height: 8em;
    background: #8b8bad;
    border-radius: 5%;
    padding: 5px 10px;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
    color: white;
   
}
.club img{
    width: 70px;
    border-radius: 50%;
}
.club:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.linkcss{
    text-decoration: none;
    color:rgb(48, 46, 46);
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 5px;
  }

  .dropdown img {
    border-radius: 50%;
  }
  
  .dropdown button{
    color: white;
    border: none;
    margin: 0;
    height: 4em;
  }
  .dropdown-toggle {
    background-color: transparent;
    cursor: pointer;
    color: white;
  }

  .dropdown-toggle:hover{
    background: #2b2b5f;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    margin: 1px 0 0;
    font-size: 14px;
    text-align: left;
    background: purple;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: white;
  }
  
  .dropdown-item:hover {
    background: #2b2b5f;
    color: white;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  