.hope{
    margin: 0;
    padding: 0;
    font-family: 'Jost' , sans-serif;
    min-height: 100vh;
    background: linear-gradient(to bottom,#0f0c29,#302b63,#24243e);
}

.header{
    background: green;
    color: white;
}
.header h1{
    margin-right: 380px;
}
.header img{
    width: 6%;
    border-radius: 1.3em;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(35, 156, 82);
}
.nav-bar img{
    width: 4%;
    border-radius: 3em;
    cursor: pointer;
}
.body{
    color: #fff;
    text-align: center;
    background-color: blue;
    height: 250px;
}
.about h1
{
    color: #fff;
    text-align: center;
}
.register{
    margin-top: 200px;
    color: #fff;
    text-align: right;
}

.register p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.donationbox{
    width: 300px;
    height: 200px;
    display: block;
    justify-content: center;
    background-color: rgb(59, 25, 16);
    border-radius: 20px;
}
.donationbox h1{
    font-size: 20px;
    margin-top: 50px;
}
.about-data{
    color:white;
}
.aboutinfo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.hope-btn{
    margin-top: 70px;
}